In [1]:
from sklearn.model_selection import train_test_split
%load_ext autoreload
%autoreload 2
import sys
sys.path.insert(0, '../src')

from pathlib import Path
import pandas as pd
from zipfile import ZipFile
import numpy as np
import matplotlib.pyplot as plt
import copy


PNS_DATA = Path('../data/processed/PNS_2019/all.zip').resolve()
zip_pns = ZipFile(PNS_DATA)
df = pd.read_csv(zip_pns.open(zip_pns.namelist()[0]), sep=",", low_memory=False)

PATH_GEN_DATA = Path('generated_data/pns_data_models').resolve()

def process_df(df_i, remove_na=True):
    df_i = copy.deepcopy(df_i)
    if remove_na:
        df_i = df_i.dropna()
    return df_i.drop(['r_norte', 'r_nordeste', 'r_sudeste', 'r_sul', 'r_centro_oeste'], axis=1)



# Target
df['depression'] = np.where(df['phq9_total'].isna(), np.nan, np.where(df['phq9_total'] >= 10, 1, 0))
df = df.dropna(subset=['depression'])
df['depression'].value_counts()



# Alimentos in natura ou minimamente processado
innatura = ['P00601','P00602', 'P00603', 'P00604', 'P00605', 'P00607', 'P00608', 'P00609', 'P00610', 'P00611', 'P00612', 'P00613']
df_innatura = df[innatura]
df_innatura['qst_innatura'] = (df_innatura == 1.0).sum(axis=1)
# Alimentos ultraprocessados
ultraprocessados = ['P00614', 'P00615', 'P00616', 'P00617', 'P00618', 'P00619', 'P00620', 'P00621', 'P00622', 'P00623']
df_upf = df[ultraprocessados]
df_upf['qst_upf'] = (df_upf == 1.0).sum(axis=1)

# A literatura não usa a porcentagem de ultraprocessados do prato como análise. O artigo 'Food consumption and depression among Brazilian adults: results from the Brazilian National Health Survey, 2013'
# Usa como base o número de perguntas respondidas 'Sim' nos alimentos ultraprocessados das ultimas 24hrs
df['per_innatura'] = df_innatura['qst_innatura'] / (df_innatura['qst_innatura'] + df_upf['qst_upf']) * 100
df['per_upf'] = df_upf['qst_upf'] / (df_innatura['qst_innatura'] + df_upf['qst_upf']) * 100
df['qst_upf'] = df_upf['qst_upf'] # Baseado no artigo

def classify_upf(row):
    value = row['qst_upf']

    if  0 <= value < 2:
        return 1
    elif value < 4:
        return 2
    elif value < 6:
        return 3
    elif value < 8:
        return 4
    elif value <= 10:
        return 5

    return np.nan # questionario não respondido

df['upf_severity'] = df.apply(classify_upf, axis=1)


def count_imc(row):
    height = row['altura']
    weight = row['peso']

    imc = weight/np.square(height/100)   # Peso está em kg e altura em cm, no calculo do imc é kg/m^2
    return imc

df['imc'] = df.apply(count_imc, axis=1)


def classify_imc(row):
    value = row['imc']

    if  0 <= value < 18.5:
        return 1  # Baixo peso
    elif value < 24.9:
        return 2 # Eutrofia/peso adequado
    elif value < 29.9:
        return 3   # Sobrepeso
    elif value >= 30:
        return 4  # Obesidade

    return np.nan # questionario não respondido

df['class_imc'] = df.apply(classify_imc, axis=1)


def classify_idade(row):
    value = row['idade']
    if  18 <= value <= 29:
        return 1
    elif value <= 39:
        return 2
    elif value <= 49:
        return 3
    elif value <= 59:
        return 4

    return np.nan

df['class_idade'] = df.apply(classify_idade, axis=1)


# Essa variável foi criada a partir de um índice utilizado pela OMS. Na literatura, usam a pergunta 'P034' relacionada à prática de exercícios físicos nos ultimos 3 meses
df_activity = pd.DataFrame()
df_activity['minutes_per_week'] = df['P03702'] * df['P035']

vigorous_activities = [3.0, 4.0, 5.0, 6.0, 12.0, 13.0, 15.0]
moderated_activities = [1.0, 2.0, 7.0, 8.0, 9.0, 10.0, 11.0, 14.0, 16.0, 17.0]
df_activity['time_vigorous'] = df_activity['minutes_per_week'].loc[df['P036'].isin(vigorous_activities)]
df_activity['time_moderated'] = df_activity['minutes_per_week'].loc[df['P036'].isin(moderated_activities)]

df_activity['activity_class'] = 0
df_activity.loc[df_activity['minutes_per_week'].isna(), 'activity_class'] = np.nan
df_activity.loc[(df_activity['time_vigorous'] >= 75) | (df_activity['time_moderated'] >= 150), 'activity_class'] = 1

df['activity_class'] = df_activity['activity_class']
df['exerc_fisico'] = np.where(df['P034'].isin([1.0]), 1, np.where(df['P034'] == 2.0, 0, np.nan))
df['tabagismo'] = np.where(df['P050'].isin([1.0, 2.0]), 1, np.where(df['P050'] == 3.0, 0, np.nan))

# Na literatura eles usam outra variável para analisar o consumo alcoolico
# df['cons_alcool'] = np.where(df['P02801'] >= 1, 1, 0)
# df['cons_alcool'] = np.where(df['P02801'].isna(), np.nan, df['cons_alcool'])

# Olhar artigo 'Food consumption and depression among Brazilian adults: results from the Brazilian National Health Survey, 2013'
df['cons_alcool'] = np.where(df['P027'].isin([2.0, 3.0]), 1, np.where(df['P027'] == 1.0, 0, np.nan))

df = df[df['P005'] != 1.0] #Retirando as grávidas da análise

df['obesidade'] = np.where(df['class_imc'].isna(), np.nan, np.where(df['class_imc'] >= 4, 1, 0))

# Limitação da análise por idades que se adequam ao PHQ9 baseado no artigo 'Food consumption and depression among Brazilian adults: results from the Brazilian National Health Survey, 2013'
df = df[(df['idade'] >= 18) & (df['idade'] <= 59)]


regiao_mapping = {
    'r_norte': [11, 12, 13, 14, 15, 16, 17],
    'r_nordeste': [21, 22, 23, 24, 25, 26, 27, 28, 29],
    'r_sudeste': [31, 32, 33, 35],
    'r_sul': [41, 42, 43],
    'r_centro_oeste': [50, 51, 52, 53]
}

for regiao, estados in regiao_mapping.items():
    df[regiao] = df['uf'].apply(lambda x: int(x in estados))


df['class_renda'] = np.where(df['renda_pc'].isin([4.0, 5.0, 6.0, 7.0]), 1, np.where(df['renda_pc'].isin([1.0, 2.0, 3.0]), 0, np.nan))





df_total = pd.DataFrame()

df_total['exerc_fisico'] = df['exerc_fisico']
df_total['tabagismo'] = df['tabagismo']
df_total['cons_alcool'] = df['cons_alcool']
df_total['cancer'] = df['Q120']
df_total['hipertensao'] = df['Q00201']
df_total['diabetes'] = df['Q03001']
df_total['cardiovascular'] = df['Q06306']
df_total['hipercolesterolemia'] = df['Q060']
df_total['avc'] = df['Q068']
df_total['artrite'] = df['Q079']
df_total['obesidade'] = df['obesidade']
df_total['depression'] = df['depression']
df_total['sexo'] = df['sexo']
df_total['estado_civil'] = df['vive_conjugue']
df_total = df_total.replace(2.0, 0.0)
df_total['class_renda'] = df['class_renda']

df_total['r_norte'] = df['r_norte']
df_total['r_nordeste'] = df['r_nordeste']
df_total['r_sudeste'] = df['r_sudeste']
df_total['r_sul'] = df['r_sul']
df_total['r_centro_oeste'] = df['r_centro_oeste']

df_total['escolaridade'] = df['escolaridade_agregada']
df_total['upf'] = df['qst_upf']
df_total['class_idade'] = df['class_idade']

df_total['perc_saude'] = df['N00101'] # Variável não utilizada na literatura, meio duvidosa

df_train_total, df_test_total = train_test_split(df_total, test_size=0.3, random_state=42)

df_total_t = copy.deepcopy(df_total)

print("Número de dados totais: ", len(df_total_t))
print("Número de dados filtrados: ", len(df_total_t.dropna()))
print("Porcentagem de dados faltantes: {:.2f}".format(100*(1 - (len(df_total_t.dropna()) / len(df_total_t)))))

print()

df_total_t = copy.deepcopy(df_train_total)
print("Número de dados totais (treino): ", len(df_total_t))
print("Número de dados filtrados (treino): ", len(df_total_t.dropna()))
print("Porcentagem de dados faltantes (treino): {:.2f}".format(100*(1 - (len(df_total_t.dropna()) / len(df_total_t)))))

print()

df_total_t = copy.deepcopy(df_test_total)
print("Número de dados totais (teste): ", len(df_total_t))
print("Número de dados filtrados (teste): ", len(df_total_t.dropna()))
print("Porcentagem de dados faltantes (teste): {:.2f}".format(100*(1 - (len(df_total_t.dropna()) / len(df_total_t)))))

/tmp/ipykernel_8676/3843809049.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_innatura['qst_innatura'] = (df_innatura == 1.0).sum(axis=1)
/tmp/ipykernel_8676/3843809049.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upf['qst_upf'] = (df_upf == 1.0).sum(axis=1)

Número de dados totais:  64664
Número de dados filtrados:  49843
Porcentagem de dados faltantes: 22.92

Número de dados totais (treino):  45264
Número de dados filtrados (treino):  34932
Porcentagem de dados faltantes (treino): 22.83

Número de dados totais (teste):  19400
Número de dados filtrados (teste):  14911
Porcentagem de dados faltantes (teste): 23.14

In [2]:
df_total['depression'].value_counts()

depression
0.0    57816
1.0     6848
Name: count, dtype: int64

In [3]:
from scipy.stats import chi2_contingency
from IPython.display import display_markdown

In [4]:
def gen_chi2_statistics(df_i, columns_dict, key_dep_d='depression'):
    selected_g = copy.deepcopy(df_i)
    data = []

    for c in columns_dict:

        # display(Markdown("### {}".format(c['name'])))

        display_markdown('''### {}'''.format(c['name']), raw=True)

        selected = copy.deepcopy(selected_g)

        key_dep = key_dep_d
        if 'dep' in c:
            key_dep = c['dep']

        selected = selected.dropna(subset=[c['key'], key_dep])
        contingency_table = pd.crosstab(selected[c['key']], selected[key_dep])
        chi2, p_value, dof, _ = chi2_contingency(contingency_table, correction=False)
        c1 = selected[c['key']]
        c2 = selected[key_dep]
        selected_min = pd.DataFrame({c['key']: c1, key_dep: c2})
        # Para printar
        contingency_table = pd.crosstab(selected_min[c['key']], selected_min[key_dep], normalize=False)
        #contingency_table_n = pd.crosstab(selected[c['key']], selected[key_dep], normalize='index')
        contingency_table_c = round(pd.crosstab(selected_min[c['key']], selected_min[key_dep], normalize='columns') * 100, 3)
        contingency_table_c['n'] = round(selected_min.groupby(c['key'])[key_dep].count() / len(selected_min) * 100, 4)
        contingency_table_c['p_value'] = round(p_value, 4)
        contingency_table_c['chi'] = round(chi2, 4)
        display(contingency_table)
        #print("Normalizado pelas linhas: ")
        #display(contingency_table_n * 100)

        print()
        #print("Normalizado pelas colunas: ")
        display(contingency_table_c)

        #print("chi2: {}, p_value: {}, dof: {}".format(chi2, p_value, dof))


        print("-------------------------------------------------------------")
        print()

        data.append([c['key'], key_dep, c['name'], chi2, p_value, dof])

    return pd.DataFrame(data, columns=['variavel1', 'variavel2', 'titulo', 'chi2', 'p_value', 'dof'])


selected_columns = [ {'key': c, 'name': c} for c in df_total.columns]
df_chi = gen_chi2_statistics(df_total, selected_columns)
df_chi.to_excel(PATH_GEN_DATA / 'chi2_variables.xlsx')

### exerc_fisico

depression      0.0   1.0
exerc_fisico
0.0           32263  4451
1.0           25553  2397

depression       0.0     1.0        n  p_value       chi
exerc_fisico
0.0           55.803  64.997  56.7766      0.0  210.9053
1.0           44.197  35.003  43.2234      0.0  210.9053

-------------------------------------------------------------

### tabagismo

depression    0.0   1.0
tabagismo
0.0         50525  5644
1.0          7291  1204

depression     0.0     1.0        n  p_value       chi
tabagismo
0.0         87.389  82.418  86.8629      0.0  132.5915
1.0         12.611  17.582  13.1371      0.0  132.5915

-------------------------------------------------------------

### cons_alcool

depression     0.0   1.0
cons_alcool
0.0          31537  4104
1.0          26279  2744

depression      0.0    1.0        n  p_value      chi
cons_alcool
0.0          54.547  59.93  55.1172      0.0  71.7111
1.0          45.453  40.07  44.8828      0.0  71.7111

-------------------------------------------------------------

### cancer

depression    0.0   1.0
cancer
0.0         57134  6648
1.0           682   200

depression    0.0     1.0       n  p_value       chi
cancer
0.0         98.82  97.079  98.636      0.0  137.9379
1.0          1.18   2.921   1.364      0.0  137.9379

-------------------------------------------------------------

### hipertensao

depression     0.0   1.0
hipertensao
0.0          47122  4821
1.0           9270  1956

depression      0.0     1.0        n  p_value       chi
hipertensao
0.0          83.561  71.138  82.2286      0.0  639.0247
1.0          16.439  28.862  17.7714      0.0  639.0247

-------------------------------------------------------------

### diabetes

depression    0.0   1.0
diabetes
0.0         50366  5889
1.0          2393   606

depression     0.0    1.0        n  p_value       chi
diabetes
0.0         95.464  90.67  94.9387      0.0  276.6615
1.0          4.536   9.33   5.0613      0.0  276.6615

-------------------------------------------------------------

### cardiovascular

depression        0.0   1.0
cardiovascular
0.0             56385  6303
1.0              1431   545

depression         0.0     1.0        n  p_value       chi
cardiovascular
0.0             97.525  92.041  96.9442      0.0  621.4531
1.0              2.475   7.959   3.0558      0.0  621.4531

-------------------------------------------------------------

### hipercolesterolemia

depression             0.0   1.0
hipercolesterolemia
0.0                  45843  5003
1.0                   6047  1402

depression              0.0     1.0        n  p_value       chi
hipercolesterolemia
0.0                  88.347  78.111  87.2219      0.0  535.9328
1.0                  11.653  21.889  12.7781      0.0  535.9328

-------------------------------------------------------------

### avc

depression    0.0   1.0
avc
0.0         57341  6627
1.0           475   221

depression     0.0     1.0        n  p_value      chi
avc
0.0         99.178  96.773  98.9237      0.0  332.787
1.0          0.822   3.227   1.0763      0.0  332.787

-------------------------------------------------------------

### artrite

depression    0.0   1.0
artrite
0.0         55536  5977
1.0          2280   871

depression     0.0     1.0        n  p_value       chi
artrite
0.0         96.056  87.281  95.1271      0.0  1017.191
1.0          3.944  12.719   4.8729      0.0  1017.191

-------------------------------------------------------------

### obesidade

depression    0.0   1.0
obesidade
0.0         45888  4970
1.0         11640  1821

depression     0.0     1.0        n  p_value       chi
obesidade
0.0         79.766  73.185  79.0715      0.0  158.9776
1.0         20.234  26.815  20.9285      0.0  158.9776

-------------------------------------------------------------

### depression

depression    0.0   1.0
depression
0.0         57816     0
1.0             0  6848

depression    0.0    1.0        n  p_value      chi
depression
0.0         100.0    0.0  89.4099      0.0  64664.0
1.0           0.0  100.0  10.5901      0.0  64664.0

-------------------------------------------------------------

### sexo

depression    0.0   1.0
sexo
0.0         28378  5061
1.0         29438  1787

depression     0.0     1.0        n  p_value        chi
sexo
0.0         49.083  73.905  51.7119      0.0  1510.6865
1.0         50.917  26.095  48.2881      0.0  1510.6865

-------------------------------------------------------------

### estado_civil

depression      0.0   1.0
estado_civil
0.0           22556  3383
1.0           35260  3465

depression       0.0     1.0        n  p_value       chi
estado_civil
0.0           39.013  49.401  40.1135      0.0  275.0313
1.0           60.987  50.599  59.8865      0.0  275.0313

-------------------------------------------------------------

### class_renda

depression     0.0   1.0
class_renda
0.0          32900  4412
1.0          24898  2436

depression      0.0     1.0        n  p_value       chi
class_renda
0.0          56.922  64.428  57.7174      0.0  141.3153
1.0          43.078  35.572  42.2826      0.0  141.3153

-------------------------------------------------------------

### r_norte

depression    0.0   1.0
r_norte
0           45808  5652
1           12008  1196

depression     0.0     1.0        n  p_value      chi
r_norte
0           79.231  82.535  79.5806      0.0  41.1415
1           20.769  17.465  20.4194      0.0  41.1415

-------------------------------------------------------------

### r_nordeste

depression    0.0   1.0
r_nordeste
0           37739  4355
1           20077  2493

depression     0.0     1.0        n  p_value     chi
r_nordeste
0           65.274  63.595  65.0965   0.0058  7.5977
1           34.726  36.405  34.9035   0.0058  7.5977

-------------------------------------------------------------

### r_sudeste

depression    0.0   1.0
r_sudeste
0           45973  5308
1           11843  1540

depression     0.0     1.0        n  p_value      chi
r_sudeste
0           79.516  77.512  79.3038   0.0001  14.9872
1           20.484  22.488  20.6962   0.0001  14.9872

-------------------------------------------------------------

### r_sul

depression    0.0   1.0
r_sul
0           50750  6074
1            7066   774

depression     0.0     1.0        n  p_value     chi
r_sul
0           87.778  88.697  87.8758   0.0276  4.8531
1           12.222  11.303  12.1242   0.0276  4.8531

-------------------------------------------------------------

### r_centro_oeste

depression        0.0   1.0
r_centro_oeste
0               50994  6003
1                6822   845

depression       0.0     1.0        n  p_value     chi
r_centro_oeste
0               88.2  87.661  88.1433   0.1913  1.7075
1               11.8  12.339  11.8567   0.1913  1.7075

-------------------------------------------------------------

### escolaridade

depression      0.0   1.0
escolaridade
1.0           18260  2392
2.0           20809  2278
3.0            8755  1002
4.0            2815   309

depression       0.0     1.0        n  p_value      chi
escolaridade
1.0           36.059  39.993  36.4747      0.0  36.9353
2.0           41.093  38.087  40.7753      0.0  36.9353
3.0           17.289  16.753  17.2324      0.0  36.9353
4.0            5.559   5.166   5.5175      0.0  36.9353

-------------------------------------------------------------

### upf

depression    0.0   1.0
upf
0            9318  1038
1           11888  1377
2           11988  1382
3            9873  1183
4            6876   824
5            3936   499
6            2019   262
7            1034   148
8             463    77
9             251    40
10            170    18

depression     0.0     1.0        n  p_value      chi
upf
0           16.117  15.158  16.0151   0.0056  24.8597
1           20.562  20.108  20.5137   0.0056  24.8597
2           20.735  20.181  20.6761   0.0056  24.8597
3           17.077  17.275  17.0976   0.0056  24.8597
4           11.893  12.033  11.9077   0.0056  24.8597
5            6.808   7.287   6.8585   0.0056  24.8597
6            3.492   3.826   3.5275   0.0056  24.8597
7            1.788   2.161   1.8279   0.0056  24.8597
8            0.801   1.124   0.8351   0.0056  24.8597
9            0.434   0.584   0.4500   0.0056  24.8597
10           0.294   0.263   0.2907   0.0056  24.8597

-------------------------------------------------------------

### class_idade

depression     0.0   1.0
class_idade
1            13464  1435
2            16063  1692
3            14600  1853
4            13689  1868

depression      0.0     1.0        n  p_value      chi
class_idade
1            23.288  20.955  23.0406      0.0  76.4031
2            27.783  24.708  27.4573      0.0  76.4031
3            25.253  27.059  25.4438      0.0  76.4031
4            23.677  27.278  24.0582      0.0  76.4031

-------------------------------------------------------------

### perc_saude

depression    0.0   1.0
perc_saude
1.0         10622   361
2.0         36313  2473
3.0          9819  2756
4.0           923   992
5.0           139   266

depression     0.0     1.0        n  p_value        chi
perc_saude
1.0         18.372   5.272  16.9847      0.0  7782.8562
2.0         62.808  36.113  59.9808      0.0  7782.8562
3.0         16.983  40.245  19.4467      0.0  7782.8562
4.0          1.596  14.486   2.9615      0.0  7782.8562
5.0          0.240   3.884   0.6263      0.0  7782.8562

-------------------------------------------------------------

In [7]:
df_chi

,variavel1,variavel2,titulo,chi2,p_value,dof
0,exerc_fisico,depression,exerc_fisico,210.905330,8.716665e-48,1
1,tabagismo,depression,tabagismo,132.591516,1.110669e-30,1
2,cons_alcool,depression,cons_alcool,71.711059,2.491323e-17,1
3,cancer,depression,cancer,137.937857,7.519344e-32,1
4,hipertensao,depression,hipertensao,639.024747,5.445572e-141,1
5,diabetes,depression,diabetes,276.661533,4.009787e-62,1
6,cardiovascular,depression,cardiovascular,621.453083,3.611749e-137,1
7,hipercolesterolemia,depression,hipercolesterolemia,535.932766,1.446295e-118,1
8,avc,depression,avc,332.787048,2.375594e-74,1
9,artrite,depression,artrite,1017.190964,3.293074e-223,1
10,obesidade,depression,obesidade,158.977620,1.892476e-36,1
11,depression,depression,depression,64664.000000,0.000000e+00,1
12,sexo,depression,sexo,1510.686545,0.000000e+00,1
13,estado_civil,depression,estado_civil,275.031314,9.086425e-62,1
14,class_renda,depression,class_renda,141.315348,1.372735e-32,1
15,r_norte,depression,r_norte,41.141495,1.415981e-10,1
16,r_nordeste,depression,r_nordeste,7.597662,5.844403e-03,1
17,r_sudeste,depression,r_sudeste,14.987169,1.082447e-04,1
18,r_sul,depression,r_sul,4.853108,2.759636e-02,1
19,r_centro_oeste,depression,r_centro_oeste,1.707540,1.913048e-01,1
20,escolaridade,depression,escolaridade,36.935288,4.748747e-08,3
21,upf,depression,upf,24.859685,5.617910e-03,10
22,class_idade,depression,class_idade,76.403109,1.812792e-16,3
23,perc_saude,depression,perc_saude,7782.856166,0.000000e+00,4

In [21]:
df = copy.deepcopy(df_chi)
df = df[['titulo', 'chi2', 'p_value']]

df['chi2'] = df['chi2'].map('{:.2f}'.format).astype(str)
df['p_value'] = df['p_value'].map('{:.5f}'.format).astype(str)

variables_names = {
    'upf': 'Ultraprocessados',
    'exerc_fisico': 'Exercício Físico',
    'tabagismo': 'Tabagismo',
    'cons_alcool': 'Consumo Álcool',
    'cancer': 'Câncer',
    'hipertensao': 'Hipertensão',
    'diabetes': 'Diabetes',
    'cardiovascular': 'Cardiovascular',
    'hipercolesterolemia': 'Hipercolesterolemia',
    'avc': 'AVC',
    'artrite': 'Artrite',
    'obesidade': 'Obesidade',
    'sexo': 'Sexo',
    'estado_civil': 'Estado Civil',
    'escolaridade': 'Classificação Escolaridade',
    'class_idade': 'Classificação Idade',
    'class_renda': 'Classificação Renda',
    'depression': 'Depressão',
    'perc_saude': 'Percepção de Saúde',
    'r_norte': 'Região Norte',
    'r_nordeste': 'Região Nordeste',
    'r_sudeste': 'Região Sudeste',
    'r_sul': 'Região Sul',
    'r_centro_oeste': 'Região Centro Oeste'

}

df['titulo'] = df['titulo'].replace(variables_names)
df.set_index('titulo', inplace=True)


df.to_markdown(PATH_GEN_DATA / 'chi2.md')

df

                                chi2  p_value
titulo
Exercício Físico              210.91  0.00000
Tabagismo                     132.59  0.00000
Consumo Álcool                 71.71  0.00000
Câncer                        137.94  0.00000
Hipertensão                   639.02  0.00000
Diabetes                      276.66  0.00000
Cardiovascular                621.45  0.00000
Hipercolesterolemia           535.93  0.00000
AVC                           332.79  0.00000
Artrite                      1017.19  0.00000
Obesidade                     158.98  0.00000
Depressão                   64664.00  0.00000
Sexo                         1510.69  0.00000
Estado Civil                  275.03  0.00000
Classificação Renda           141.32  0.00000
Região Norte                   41.14  0.00000
Região Nordeste                 7.60  0.00584
Região Sudeste                 14.99  0.00011
Região Sul                      4.85  0.02760
Região Centro Oeste             1.71  0.19130
Classificação Escolaridade     36.94  0.00000
Ultraprocessados               24.86  0.00562
Classificação Idade            76.40  0.00000
Percepção de Saúde           7782.86  0.00000