In [14]:
from depression_high_processed_food.src.constants import *
import pandas as pd
from pathlib import Path

PNS_DATA = Path('../data/raw/PNS_2019/PNS_2019.csv').resolve()

cols = KEY_SUBJECT + LIFE_STYLES + DEPRESSION_REF
df = pd.read_csv(PNS_DATA, delimiter=';', low_memory=False, usecols=cols)

In [15]:
df

,V0001,V0024,UPA_PNS,V0006_PNS,C00301,P00102,P00103,P00104,P00201,P00402,...,P068,P069,P06901,P07004,P07005,P07006,P07007,P07101,P07201,Q092
0,11,1110011,110000016,1,1.0,1.0,60,60.0,2.0,1.0,...,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN,1.0
1,11,1110011,110000016,1,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,1110011,110000016,1,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,1110011,110000016,1,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,1110011,110000016,1,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293721,53,5310220,530044434,14,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293722,53,5310220,530044434,14,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293723,53,5310220,530044434,14,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293724,53,5310220,530044434,14,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293725,53,5310220,530044434,15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
len(df)

293726

In [9]:
df.groupby(['V0001', 'V0024', 'UPA_PNS', 'V0006_PNS', 'C00301']).size().reset_index().shape[0]

279382

In [10]:
df.groupby(['V0001', 'V0024', 'UPA_PNS', 'V0006_PNS']).size().reset_index().shape[0]

108458

In [11]:
df['Q092'].count()

90846

In [13]:
df['Q092'].value_counts()

Q092
2.0    82514
1.0     8332
Name: count, dtype: int64

In [38]:
df = df.dropna(subset=['Q092'])

In [43]:
df

,V0001,V0024,UPA_PNS,V0006_PNS,C00301,P00102,P00103,P00104,P00201,P00402,...,P069,P06901,P07004,P07005,P07006,P07007,P07101,P07201,Q092,res
0,11,1110011,110000016,1,1.0,1.0,60,60.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN,1.0,True
9,11,1110011,110000016,2,4.0,1.0,65,65.0,2.0,1.0,...,2.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,False
10,11,1110011,110000016,3,1.0,1.0,77,77.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0,False
18,11,1110011,110000016,4,1.0,2.0,NaN,56.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0,False
19,11,1110011,110000016,5,1.0,1.0,55,55.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293709,53,5310220,530044434,9,2.0,1.0,63,63.0,1.0,1.0,...,1.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,False
293712,53,5310220,530044434,10,2.0,1.0,72,72.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,False
293713,53,5310220,530044434,11,1.0,1.0,87,87.0,5.0,1.0,...,1.0,2.0,1.0,2.0,3.0,1.0,1.0,NaN,2.0,False
293718,53,5310220,530044434,12,2.0,1.0,89,89.0,2.0,1.0,...,1.0,1.0,1.0,1.0,1.0,2.0,1.0,NaN,1.0,True
293720,53,5310220,530044434,13,1.0,1.0,62,62.0,3.0,1.0,...,1.0,2.0,1.0,1.0,2.0,2.0,2.0,NaN,2.0,False

In [44]:
df.count()

V0001        90846
V0024        90846
UPA_PNS      90846
V0006_PNS    90846
C00301       90846
             ...
P07007       90846
P07101       90846
P07201        8990
Q092         90846
res          90846
Length: 153, dtype: int64

In [45]:
df = df.dropna(axis=1)

In [47]:
df.value_counts()

V0001  V0024    UPA_PNS    V0006_PNS  C00301  P00102  P00201  P00402  P00601  P00602  P00603  P00604  P00605  P00607  P00608  P00609  P00610  P00611  P00612  P00613  P00614  P00615  P00616  P00617  P00618  P00619  P00620  P00621  P00622  P00623  P006  P00901  P01101  P013  P015  P02001  P01601  P018  P02002  P023  P02501  P02602  P02601  P027  P034  P042  P044  P04501  P04502  P046  P04701  P050  P067  P06701  P068  P069  P06901  P07004  P07005  P07006  P07007  P07101  Q092  res
11     1110011  110000016  1          1.0     1.0     2.0     1.0     1.0     1.0     1.0     1.0     2.0     1.0     2.0     1.0     1.0     2.0     1.0     2.0     1.0     1.0     2.0     2.0     2.0     2.0     2.0     2.0     1.0     2.0     7.0   1.0     3.0     6.0   3.0   7.0     0.0     3.0   1.0     7.0   0.0     0.0     3.0     2.0   1.0   0.0   2.0   3.0     1.0     1.0   2.0     3.0   3.0   4.0     1.0   2.0   2.0     2.0     2.0     2.0     2.0     1.0     1.0   True     1
33     3322012  330021383  2          1.0     1.0     4.0     2.0     1.0     2.0     1.0     1.0     2.0     1.0     2.0     2.0     1.0     1.0     2.0     2.0     2.0     1.0     2.0     1.0     2.0     2.0     2.0     2.0     2.0     2.0     7.0   7.0     2.0     7.0   1.0   1.0     0.0     3.0   0.0     3.0   0.0     0.0     4.0     1.0   2.0   0.0   2.0   4.0     6.0     2.0   2.0     3.0   3.0   4.0     5.0   2.0   2.0     1.0     1.0     1.0     2.0     2.0     2.0   False    1
       3322011  330286548  7          3.0     1.0     3.0     1.0     1.0     2.0     1.0     1.0     1.0     1.0     1.0     1.0     2.0     1.0     1.0     2.0     2.0     1.0     2.0     2.0     2.0     2.0     1.0     1.0     1.0     2.0     7.0   7.0     2.0     6.0   0.0   4.0     2.0     3.0   2.0     3.0   2.0     0.0     3.0     1.0   1.0   0.0   2.0   1.0     4.0     1.0   2.0     3.0   3.0   4.0     5.0   2.0   2.0     2.0     1.0     2.0     2.0     1.0     2.0   False    1
                           6          1.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0     2.0     2.0     2.0     2.0     2.0     1.0     2.0     2.0     1.0     2.0     2.0     2.0     1.0     2.0     2.0     2.0     2.0     2.0     7.0   7.0     1.0     7.0   0.0   0.0     3.0     7.0   7.0     0.0   1.0     0.0     4.0     1.0   1.0   0.0   1.0   5.0     5.0     2.0   2.0     3.0   3.0   4.0     5.0   2.0   2.0     2.0     1.0     2.0     2.0     1.0     2.0   False    1
                           4          2.0     1.0     2.0     2.0     1.0     2.0     1.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0     1.0     2.0     1.0     2.0     2.0     2.0     1.0     2.0     1.0     2.0     1.0     2.0     7.0   3.0     3.0     5.0   1.0   0.0     7.0     7.0   1.0     7.0   2.0     1.0     4.0     1.0   1.0   2.0   2.0   2.0     1.0     2.0   2.0     3.0   3.0   4.0     5.0   2.0   2.0     2.0     2.0     2.0     2.0     1.0     2.0   False    1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ..
24     2410011  240036414  6          1.0     1.0     3.0     1.0     1.0     2.0     1.0     1.0     2.0     1.0     2.0     1.0     2.0     1.0     1.0     2.0     2.0     2.0     2.0     1.0     2.0     2.0     2.0     2.0     1.0     2.0     7.0   7.0     2.0     4.0   4.0   0.0     4.0     7.0   0.0     7.0   0.0     0.0     4.0     1.0   2.0   0.0   2.0   1.0     6.0     1.0   2.0     3.0   3.0   4.0     1.0   2.0   2.0     2.0     2.0     2.0     2.0     1.0     2.0   False    1
                           4          2.0     1.0     3.0     1.0     1.0     1.0     1.0     1.0     2.0     2.0     1.0     1.0     2.0     1.0     1.0     2.0     2.0     2.0     2.0     2.0     2.0     1.0     1.0     2.0     1.0     2.0     7.0   3.0     2.0     4.0   2.0   0.0     7.0     7.0   2.0     4.0   2.0     0.0     4.0     1.0   2.0   0.0   2.0   4.0     2.0     1.0   2.0     3.0   3.0   4.0     5.0   2.0   2.0     2.0     2.0     2.0     2.0     2.0     2.0   False    1
                           3          1.0     1.0     2.0     1.0     1.0     1.0     2.0     1.0     2.0     1.0     1.0     2.0     2.0     2.0     2.0     2.0     1.0     2.0     2.0     2.0     2.0     1.0     1.0     1.0     1.0     2.0     3.0   5.0     7.0     2.0   0.0   0.0     1.0     1.0   7.0     0.0   3.0     3.0     3.0     1.0   2.0   0.0   2.0   3.0     4.0     1.0   2.0     3.0   3.0   4.0     5.0   3.0   3.0     2.0     2.0     2.0     2.0     2.0     2.0   False    1
                           2          1.0     1.0     2.0     1.0     1.0     1.0     1.0     1.0     1.0     1.0     2.0     1.0     2.0     1.0     2.0     2.0     1.0     2.0     1.0     2.0     2.0     2.0     2.0     2.0     1.0     2.0     7.0   7.0     7.0     2.0   0.0   0.0     7.0     7.0   2.0     7.0   0.0     0.0     4.0     1.0   2.0   7.0   2.0   2.0     1.0     2.0   2.0     3.0   3.0   4.0     5.0   2.0   2.0     2.0     2.0     2.0     2.0     2.0     2.0   False    1
53     5310220  530044434  13         1.0     1.0     3.0     1.0     1.0     2.0     1.0     1.0     1.0     1.0     1.0     1.0     2.0     1.0     1.0     2.0     1.0     2.0     2.0     2.0     2.0     1.0     2.0     2.0     1.0     2.0     7.0   4.0     6.0     2.0   0.0   4.0     0.0     5.0   3.0     7.0   2.0     0.0     3.0     3.0   1.0   0.0   2.0   3.0     3.0     2.0   2.0     3.0   3.0   4.0     5.0   1.0   2.0     1.0     1.0     2.0     2.0     2.0     2.0   False    1
Name: count, Length: 90846, dtype: int64